<div id="dlgCreate" title="Create new dataset" style="display: none;">
    <p class="validateTips">Please enter a name:</p>
    <form>
        <fieldset>
            <div>
            <input type="text" name="name" id="txtNewDataSetName" class="text ui-widget-content ui-corner-all">
            <label for="tmplName">Use as template:</label>
            <select id="tmplName" class="select ui-widget-content ui-corner-all">
                <option value="none">none</option>
                <% for(var i = 0, size = data.length ; i<size; ++i){ %>
                <option value="<%= data[i]%>"><%= data[i]%></option>
                <% } %>
            </select>
            </div>
        </fieldset>
    </form>
</div>