<form class="step regular-form" id="FinalStep_frmFinal">
    <fieldset>
        <div class="title-wrap">
            <strong class="label">Final review</strong>
        </div>
        <div class="form-box">

        </div>
        <div class="ui-widget help-box">
            <div class="ui-state-highlight ui-corner-all help-content">
                <p>
                    <span class="ui-icon ui-icon-info"></span>
                    //TODO display help
                </p>
            </div>
        </div>
    </fieldset>
</form>