<form class="step regular-form" id="WelcomeStep_frmWelcome">
    <fieldset>
        <div class="title-wrap">
            <strong class="label">Welcome</strong>
        </div>
        <div class="form-box">
            <% for(var i = 0, size = data.length ; i<size; ++i){ %>
            <div class="row">
            <label><input type="radio" name="datasets" value="<%= data[i]%>"/><%= data[i]%></label>

            <a href="javascript:void(0)" class="delete ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" title="Delete">
                <span class="ui-button-icon-primary ui-icon ui-icon-trash"></span>
                <span class="ui-button-text">...</span>
            </a>
            </div>
            <% } %>
            <div class="row">
                <input type="hidden" id="flgCreateNew" value="false"/>
                <input type="hidden" id="hdnNewDataSetName" value=""/>
                <input type="hidden" id="hdnTmplName" value=""/>
                <button id="btnCreate">Create New...</button>
            </div>
            <div id="dlgCreate" title="Create new dataset" style="display: none;">
                <p class="validateTips">All form fields are required.</p>
                <form>
                    <fieldset>
                        <label for="txtNewDataSetName">Name</label>
                        <input type="text" name="name" id="txtNewDataSetName" class="text ui-widget-content ui-corner-all">
                        <label for="tmplName">Use as template:</label>
                        <select id="tmplName" class="select ui-widget-content ui-corner-all">
                            <option value="none">none</option>
                            <% for(var i = 0, size = data.length ; i<size; ++i){ %>
                            <option value="<%= data[i]%>"><%= data[i]%></option>
                            <% } %>
                        </select>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="ui-widget help-box">
            <div class="ui-state-highlight ui-corner-all help-content">
                <p>
                    <span class="ui-icon ui-icon-info"></span>
                    //TODO display help
                </p>
            </div>
        </div>
    </fieldset>
</form>