<form class="step regular-form" id="WelcomeStep_frmWelcome">
    <fieldset>
        <div class="title-wrap">
            <strong class="label">Welcome</strong>
        </div>
        <div class="form-box">
            <% for(var i = 0, size = data.length ; i<size; ++i){ %>
            <div class="row">
            <label><input type="radio" name="datasets" value="<%= data[i]%>"/><%= data[i]%></label>

            <a href="javascript:void(0)" class="delete ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" title="Delete">
                <span class="ui-button-icon-primary ui-icon ui-icon-trash"></span>
                <span class="ui-button-text">...</span>
            </a>
            </div>
            <% } %>
            <div class="row">
                <label><input type="radio" name="datasets" value="new" checked >Create New...</label>
            </div>
            <div class="row">
                <span>
                <label for="tmplName">
                Use as template:
                </label>
                <select id="tmplName">
                    <option value="none">none</option>
                <% for(var i = 0, size = data.length ; i<size; ++i){ %>
                    <option value="<%= data[i]%>"><%= data[i]%></option>
                <% } %>
                </select>

                </span>
            </div>
        </div>
        <div class="ui-widget help-box">
            <div class="ui-state-highlight ui-corner-all help-content">
                <p>
                    <span class="ui-icon ui-icon-info"></span>
                    //TODO display help
                </p>
            </div>
        </div>
    </fieldset>
</form>