<form class="step regular-form" id="<%= id %>">
    <fieldset>
        <div class="title-wrap">
            <strong class="label"><%= label %></strong>
        </div>
        <div class="form-box">
            //TODO print fields
        </div>
        <div class="ui-widget help-box">
            <div class="ui-state-highlight ui-corner-all help-content">
                <p>
                    <span class="ui-icon ui-icon-info"></span>
                    <%= help %>
                </p>
            </div>
        </div>
    </fieldset>
</form>