<div class="row">
    <input type="radio" id="<%= value %>" name="dataset"><strong><%= value %>
    <% if(ApplicationContext.offlineMode) { %>
    <a href="javascript:void(0)"
       onclick="MVC.Controller.publish('Offline.start.upload_data',{'data-set-name':'<%= value %>'});return false;"
       id="upload-<%= value %>" style="float:right;"><img src="./resources/images/upload.png"
                                                          style="width:24px;height:24px;"
                                                          alt="Upload data to the server..."/>
    </a>
    <% } %>
</strong>
</div>