<form id="frmDataSubmit" class="step regular-form submit" method="POST" action="<%= ApplicationContext.domain + '/backend/SubmitData'%>">
    <fieldset>
        <div class="title-wrap">
            <strong class="label">Submit data.</strong>
        </div>
        <div class="form-box">
        </div>
        <div class="ui-widget help-box">
            <div class="ui-state-highlight ui-corner-all help-content">
                <p>
                    <span class="ui-icon ui-icon-info"></span>
                    The data is now ready to be submitted.
                </p>
            </div>
        </div>
    </fieldset>
</form>