<form id="FrmSampleFilesUpload" class="regular-form" enctype="multipart/form-data" method="post"
      action="http://localhost:8080/backend/upload">
    <fieldset>
        <legend>Here you can upload a .pdf document and a number .tif images of the sample</legend>
        <div class="row">
            <label for="_pdfDoc">Upload a .pdf file</label>
            <input type="file" name="_pdfDoc" id="_pdfDoc" accept="application/pdf"/>
        </div>
        <div class="row">
            Upload sample .tif images
        </div>

    </fieldset>
    <input type="submit" value="Upload">
</form>
<input id="fileupload" type="file" name="file">

